
html{
   background-color: rgba(25, 19, 5, 0.639);
   font-family: Oswald;
}
.weather {
   max-width: 450px;
   height: 200px;
   padding: 20px;
   background-color: rgb(153, 191, 218);
   border-radius: 25px;
   margin: 150px auto;
   box-shadow: 0 0 10px; color: rgba(0, 0, 0, 0.5);
}
/* -------------------------------------- */
.textcolor{
   color: rgb(63, 65, 83);
}
.colorCityTemp{
   color: rgba(206, 118, 36, 0.815);
}

/* ---------------------------------------- */
.weather__header {
   display: flex;
}
.weather__main {
   flex: 1 1 auto;
}


.weather__city {
   font-size: 50px;
   font-weight: 500;
   margin-bottom: 10px;
}
.weather__status {
   font-size: 20px;
   margin-bottom: 40px;
}
.weather__temp {
   font-size: 55px;
   font-weight: 500;
   margin: 0 0 15px 0;
}
.weather__temp::after{
   content: '°C';
   font-size: 55px;
   font-weight: 300;
}


.weather__feels {
   padding-left: 5px;
}
.weather__feels::after{
   content: '°C';
}

.weather__icon{
   width: 80px;
}

.weather__icon img{
   max-width: 50px;
}
.weather__loading{
   display: flex;
   justify-content: center;
   padding-top: 68px;
}
.weather__loading img{
   max-width: 50px;
}